One hot Encodeing

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('airports.csv')
df.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,King Salmon,no,00AN,NaN,00AN,NaN,NaN,NaN

In [4]:
df['type'].value_counts()

type
small_airport     39679
heliport          19362
closed            10535
medium_airport     4752
seaplane_base      1155
large_airport       465
balloonport          49
Name: count, dtype: int64

In [6]:
pd.get_dummies(df,columns=['type'])

,id,ident,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,...,home_link,wikipedia_link,keywords,type_balloonport,type_closed,type_heliport,type_large_airport,type_medium_airport,type_seaplane_base,type_small_airport
0,6523,00A,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,...,NaN,NaN,NaN,False,False,True,False,False,False,False
1,323361,00AA,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,...,NaN,NaN,NaN,False,False,False,False,False,False,True
2,6524,00AK,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,...,NaN,NaN,NaN,False,False,False,False,False,False,True
3,6525,00AL,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,...,NaN,NaN,NaN,False,False,False,False,False,False,True
4,506791,00AN,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,King Salmon,...,NaN,NaN,NaN,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75992,46378,ZZ-0001,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,...,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad,False,False,True,False,False,False,False
75993,307326,ZZ-0002,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,...,NaN,NaN,NaN,False,False,False,False,False,False,True
75994,346788,ZZ-0003,Fainting Goat Airport,32.110587,-97.356312,690.0,NaN,US,US-TX,Blum,...,NaN,NaN,NaN,False,False,False,False,False,False,True
75995,342102,ZZZW,Scandium City Heliport,69.355287,-138.939310,4.0,NaN,CA,CA-YT,(Old) Scandium City,...,NaN,NaN,"ZZZW, ZZZW, ZYW, YK96",False,True,False,False,False,False,False
75996,313629,ZZZZ,Satsuma Iōjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima,...,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7",False,False,False,False,False,False,True

Lable Encoding

In [11]:
import pandas as pd
import numpy as np


df1 = pd.read_csv('iris.csv')
df1.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le = LabelEncoder()

In [22]:
import pandas as pd
import numpy as np


df1 = pd.read_csv('iris.csv')
df1['species'] = le.fit_transform(df1['species'])
df1.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [23]:
df1.tail()

     sepal_length  sepal_width  petal_length  petal_width  species
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2